/**************
	GLOBAL
***************/
body {
	background: #F9F8F6;
	padding: 10px;
}

div h3 {
	border-left: 3px solid #D02B3C;
	padding-left: 10px;
}

#body-content {
	margin-right: 10%;
}

/**************
	GLOBAL
***************/
#body-content {
	padding: 15px;
}

/**************
HEADER
***************/
#page-header {
	padding-bottom: 20px;
	border-bottom: .5px solid gray;
}
#page-header h1{
	font-family: "Montserrat",sans-serif;
	margin-left: auto;
	margin-right: auto;
	border-bottom: 1px solid #D02B3C;
	display:inline-block;
	line-height: .9;
	letter-spacing: 2px;
}

#page-header h1 span {
	font-size: .8em;
	font-weight: lighter;
	letter-spacing: 2px;
}

/**************
INTRODUCTION
***************/
#introduction p {
	font-family: "Lato", sans-serif;
	margin-left: 15px;
	text-align: justify;
}

pre[class*="language-"]{
   background-color: #263238 ;
   margin: 10px 20px;
   border: 1px solid #D02B3C;
}

code{
   width: 100%;
   min-height: 200px;
   font-size: 14px;
   overflow: scroll;
   line-height: 18px;
   padding: 0px 20px 0px 20px;
   font-size: 12px;
   color: #F8C660;
}

span.token.comment{
       color: #516B78;
}
span.token.model{
   color: #F8C660;
}

span.token.variable{
   color: #D5485F ;
}
span.token.function{
   color: #678ECE ;
}
span.token.keyword{
   color: #A77AC6 ;
}
span.token.enclosure{
   color: #B1B7C0 ;
}
span.token.string{
   color: #ACCF7B ;
}
span.token.operator{
   color: #2D828A ;
}
span.token.punctuation{
   color: #fff;
}

/**************
HOW-TO
***************/
#how-to ol {

}

/**************
EXAMPLES
***************/

